body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6em
}

#description {
    padding:20px;
    text-align:center;
}

#showcase { 
    padding:20px;
    text-align:center;
}

#resume { 
    margin:20px 0px;
    text-align: center;
}

#main-header {
    text-align: center;
    background-color: #172121;
    color:white;
    padding:10px;
}

.nav {
    list-style-type: none;
    background-color: #2a3b3b;
    margin:0;
    padding:0;
    overflow:hidden;
}

.nav li {
    list-style-type: none;
    float: left;
}

.nav li a {
    display: block;
    color:white;
    padding:8px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color:#3A4F41;
    color:white;
}

.active {
    background-color: #14591D;
    color: white;
}

.dropdownItem {
    display: block;
    color:white;
    padding:8px 16px;
    text-decoration: none;
}

.dropdown {
    position:relative;
    display:inline-block;
}

.dropdownContent {
    display:none;
    position:absolute;
}

.dropdown:hover .dropdownContent {
    display:block;
}

.dropdown:hover dropdownItem {
    background-color:#3A4F41;
    color:white;
}