body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAF4D3;
}

#main-header {
    text-align: center;
    background-color: #0C1618;
    color:white;
    padding:10px;
}

.nav {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color:white;
    padding:8px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color:#004643;
    color:white;
}

.active {
    background-color: #D1AC00;
    color: white;
}