body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin:0;
    line-height: 1.6em
}

#description {
    padding:20px;
    text-align:center;
}

#showcase { 
    padding:20px;
    text-align:center;
}

#resume { 
    margin:20px 0px;
    text-align:center;
}

#resume iframe {
    margin: 0;
    padding: 0;
    border: 0;
}

#main-header {
    text-align: center;
    background-color: #172121;
    color:white;
    padding:10px;
}

.nav {
    overflow: unset;
    top:0px;
    position:sticky;
    z-index: 100;
    width: 100%;
    background-color: #2a3b3b;
    margin:0;
    padding:0;
    display: inline-block;
}

.nav li {
    list-style-type: none;
    float: left;
    margin-bottom:15px;
}

.nav li a {
    display: block;
    color:white;
    padding:8px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color:#465c5c;
    color:white;
}

.active {
    background-color: #217070;
    color: white;
}

.dropdown {
    float:left;
    position:relative;
    overflow:unset;
}

.dropdown .dropdownItem {
    list-style-type: none;
    display: block;
    transition-duration: 0.5s;
    float: left;
    background-color: #2a3b3b;
    color:white;
    padding:8px 16px;
    text-decoration: none;
}

.nav li:hover, .dropdown:hover .dropdownItem {
    background-color: #465c5c;
}

.dropdownContent {
    display: none;
    position:absolute;
    top:100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display:block;
} 